

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-signin', 'role'=>'form'}) do |f| %>
  <h2>Sign up</h2>

  <%= devise_error_messages! %>

  <%= f.label :name, :class => 'control-label' %>
  <%= f.text_field :name ,autofocus: true, :class => 'form-control'%>
  <br>
  <%= f.label :username, :class => 'control-label' %>
  <%= f.text_field :username, :class => 'form-control' %>
  <br>

  <div><%= f.label :email, :class => 'control-label' %><br />
  <%= f.email_field :email, :class => 'form-control' %></div>
  <br>
  <div><%= f.label :password, :class => 'control-label' %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" , :class => 'form-control'%></div>
   <br>
  <div><%= f.label :password_confirmation, :class => 'control-label' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %></div>
 
  <br>
  <div><%= f.submit "Sign up", :class => 'btn btn-lg btn-primary btn-block' %></div>
  <br>
  <%= render "devise/shared/links" %>
<% end %>


