
<div class="tweets_container">

	<h2>Tweets</h2>

	<% @tweets.each do | tweet | %>
		<hr>
		<div class="media">
		  <a class="pull-left" href="#">
		    <img class="media-object user_img" src="/default _user_image.png" alt="image">
		  </a>
		  <div class="media-body">
		    <h4 class="media-heading"><%= tweet.user.name %></h4>
		    <%= tweet.message %>
		  </div>
		</div>
	<% end %>

</div>