
<div>

<%= form_for(:tweet, :url=> {:action => 'create'}, :html => {:class => 'form-signin', 'role'=>'form'}) do |f| %>
	<%= error_messages_for(@tweet) %>
	<%= f.text_area :message, :class => 'form-control', 'rows' => 5 %>
	<br>
	<%= submit_tag 'Tweet', :class => 'btn btn-lg btn-primary btn-block' %>
	
<% end %>

</div>

