<div class="row">

<div class="dashboard col-xs-3">
	<%= mini_profile_for current_user %>
	<br>
	<%= render 'application/compose_new_tweet' %>
</div>


<div class="content-block col-xs-6">

	<h2>Tweets</h2>

	<% @tweets.each do | t | %>
		<%tm = {
			name: t.name,
			username: t.username,
			created_at: t.t_created_at,
			message: t.message
			}%>
		<%= print_tweet tm %>

	<% end %>

</div>

<div class="col-xs-3">
	<%= render 'application/who_to_follow' %>
</div>

</div>