<table class="table table-striped">

	<tr>
		<th>name</th>
		<th>username</th>
		<th colspan="7">bio</th>
		<th><i class="glyphicon glyphicon-cog"></i></th>
	</tr>


	<%users.each do |u| %>
	<tr>
		<td><a class="user-link" href="/<%=u.username%>"><%= u.name %></a></td>
		<td><a class="user-link" href="/<%=u.username%>"><%= u.username %></a></td>
		<td colspan="7"><%= u.bio %></td>
		<% if !current_user.is_following u.id %>
		<td><%= link_to 'Follow', {:controller => 'relationships', :action => 'create', :user_id => u.id}, :class => 'btn btn-primary', :method => 'post'%>
		</td>
		<%else%>
		<td>
			<%= link_to 'Unfollow', {:controller => 'relationships', :action => 'destroy', :user_id => u.id}, :class => 'btn btn-danger', :method => 'delete'%>
		</td>
		<% end %>
	</tr>
	<% end %>

</table>