
<div class="row">

<div class="dashboard col-xs-3">
	<%= mini_profile_for current_user %>
	<br>
	<%= render 'application/compose_new_tweet' %>
</div>


<div class="content-block col-xs-6">


<table class="table table-striped">

	<tr>
		<th>name</th>
		<th>username</th>
		<th colspan="7">bio</th>
		<th><i class="glyphicon glyphicon-cog"></i></th>
	</tr>


	<%@users.each do |user| %>
	<tr>
		<td><%= user.name %></td>
		<td><%= user.username %></td>
		<td colspan="7"><%= user.bio %></td>
		<% if !current_user.is_following user.id %>
		<td><%= link_to 'Follow', {:controller => 'relationships', :action => 'create', :user_id => user.id}, :class => 'btn btn-primary', :method => 'post'%>
		</td>
		<%else%>
		<td>
			<%= link_to 'Unfollow', {:controller => 'relationships', :action => 'destroy', :user_id => user.id}, :class => 'btn btn-danger', :method => 'delete'%>
		</td>
		<% end %>
	</tr>
	<% end %>

</table>

</div>

<div class="col-xs-3">
	<%= render 'application/who_to_follow' %>
</div>

</div>