
<div>

<%= form_for(:user, :url=> {:action => 'create'}, :html => {:class => 'form-signin', 'role'=>'form'}) do |f| %>
	<%= error_messages_for(@user) %>
	<%= f.label :name, :class => 'control-label' %>
	<%= f.text_field :name , :class => 'form-control'%>
	<br>
	<%= f.label :username, :class => 'control-label' %>
	<%= f.text_field :username, :class => 'form-control' %>
	<br>
	<%= f.label :email, :class => 'control-label' %>
	<%= f.text_field :email, :class => 'form-control' %>
	<br>
	<%= f.label :password, :class => 'control-label' %>
	<%= f.password_field :password, :class => 'form-control', 'type'=>'password' %>
	<br>
	<%= submit_tag 'create user', :class => 'btn btn-lg btn-primary btn-block' %>
	
<% end %>

</div>

