
<div class="row">

<div class="dashboard col-xs-3">
	<%= mini_profile_for @user %>
	<br>
	<%= render 'application/compose_new_tweet' %>
</div>

<div class="content-block col-xs-6">
	<div class="tabbable">
	  <ul class="nav nav-tabs">
	    <li class="<%=if params[:a].blank?; 'active'; end%>" ><a href="#tweet-tab" data-toggle="tab">Tweets</a></li>
	    <li class="<%=if params[:a]=='followings'; 'active'; end%>"><a href="#followings-tab" data-toggle="tab">Followings</a></li>
	    <li class="<%=if params[:a]=='followers'; 'active'; end%>"><a href="#followers-tab" data-toggle="tab">Followers</a></li>
	  </ul>
	  <div class="tab-content">
	    <div id="tweet-tab" class="tab-pane <%=if params[:a].blank?; 'active'; end%>" >
	    	<br>
	    	<% @user.tweets.order('tweets.created_at DESC').each do | tweet | %>
				<%t = {
					name: @user.name,
					username: @user.username,
					created_at: tweet.created_at,
					message: tweet.message
				}%>
				<%= print_tweet t %>
			<% end %>
	    </div>

	    <div id="followings-tab" class="tab-pane <%=if params[:a]=='followings'; 'active'; end%>">
	    	<%= list_users_for @user.followings %>
	    </div>

	    <div id="followers-tab" class="tab-pane <%=if params[:a]=='followers'; 'active'; end%>">
	    	<%= list_users_for @user.followers %>
	    </div>

	  </div><!-- /.tab-content -->
	</div><!-- /.tabbable -->


</div>

<div class="col-xs-3">
	<%= render 'application/who_to_follow' %>
</div>

</div>