

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-signin', 'role'=>'form'}) do |f| %>
	
  <h2>Log in</h2>  

  <div><%= f.label :email, :class => 'control-label' %><br />
  <%= f.email_field :email,autofocus: true, :class => 'form-control' %></div>

  <div><%= f.label :password, :class => 'control-label' %><br />
    <%= f.password_field :password, autocomplete: "off", :class => 'form-control'  %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Log in", :class => 'btn btn-lg btn-primary btn-block' %></div>
  <br>
  <%= render "devise/shared/links" %>
<% end %>


