/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require signin
 *= require_self
 */
body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #c0deed;
}

.content-block {
	border-radius: 10px;
	background-color: white;
	padding: 15px;
	padding-top: 15px;
}

.p-btn {
	font-size: 9px;
	border: 0px;
}

.stat-num {
	font-size: 20px;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

a.user-link {
	color: black;
}

a.user-link:visited {
	color: black;
}