// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tweets_container{
	border-radius: 6px;
	background-color: white;
	padding: 15px;
}

.user_img{
	height: 64px;
	height: 64px;
}