<% if object && object.errors.size > 0 %>
  <div id="errorExplanation" class="alert alert-danger" role="alert">
    <h4>There were problems with the following fields:</h4>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
