

<div class="content-block">
	<div class="media">
	    <img class="media-object" width="100%" src="/default_user_image.png" alt="...">
	  <div class="media-body">
	    <h4 class="media-heading"><%=user.name%></h4>
	    <h5>@<%=user.username%></h5>
	    <br>
	    <h5><%=user.bio%></h5>
	    <h5>Joined <%=user.created_at.strftime("%d %B %Y")%></h5>
	    <br>
	    <div class="btn-group  btn-group-justified">
	    	<div class="btn-group">
		  		<a href="/<%=user.username%>"><button type="button" class="btn btn-default p-btn">TWEETS<div class="stat-num"><%=user.tweets.count%></div></button></a>
		  	</div>
		  	<div class="btn-group">
		 		 <a href="/<%=user.username%>/followings"><button type="button" class="btn btn-default p-btn">FOLLOWINGS<div class="stat-num"><%=user.followings.count%></div></button></a>
		  	</div>
		  	<div class="btn-group">
		  		<a href="/<%=user.username%>/followers"><button type="button" class="btn btn-default p-btn">FOLLOWERS<div class="stat-num"><%=user.followers.count%></div></button></a>
		  	</div>
		</div>
	  </div>
	</div>

</div>

