<hr>
<div class="media">
	
	<div class="pull-left">
		<img class="media-object user_img" src="/default_user_image.png" alt="image">
	</div>
	<div class="media-body">
	<a class="user-link" href="/<%=t[:username]%>">
		<strong class="media-heading"><%= t[:name] %> </strong><small>@<%=t[:username]%></small></a><small> - <%=t[:created_at].strftime("%Y %B %d %I:%M%p")%></small>
	
		 <div class="tweet">
		    <%= t[:message] %>
		</div>
	</div>
</div>