
<%if current_user.not_following.count > 1 %>

<div class="content-block">
	<h3>Who To Follow</h3>
	<hr>
	<% current_user.not_following.each do |user| %>
		<%if user.id == current_user.id %>
			<%next%>
		<%end%>

		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object user_img" src="/default_user_image.png" alt="image">
			</a>
			<div class="media-body">
				  <a class="user-link" href="/<%=user.username%>"><h4 class="media-heading"><%= user.name %></h4></a>
				  <%= link_to 'Follow', {:controller => 'relationships', :action => 'create', :user_id => user.id}, :class => 'btn btn-primary', :method => 'post'%>
			</div>
		</div>
	<% end %>
</div>

<%end%>