<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container-fluid">
	    <% if user_signed_in? %>
	    <div class="">
	    	<ul class="nav navbar-nav navbar-left">
	    		<li class="bold"><a href="/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
	    		<li class="bold"><a href="/<%=current_user.username%>"><span class="glyphicon glyphicon-user"></span> Me</a></li>
	    	</ul>
	    	<ul class="nav navbar-nav navbar-right">
			  <li class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog bold"></span></a>
			    <ul class="dropdown-menu" role="menu">
				    <li><%= link_to current_user.name, {:controller => 'users', :action => 'show'} %></li>
				    <li class="divider"></li>
				    <li><%=link_to "Sign out", destroy_user_session_path, :method => :delete%></li>
				  </ul>
			  </li>
			  
		 	</ul>
		</div>
		<% else %>
			<div class="pull-right">
				<ul class="nav navbar-nav">
					<li>
						<%= link_to 'Sgin in', new_user_session_path, :class => '' %>
					</li>
				</ul>
			</div>
		<%end %>
	  </div>
</nav>
<div class="container">
	<% if !flash[:notice].blank? %>
		<div class="alert alert-success" role="alert">
			<%= flash[:notice] %>
		</div>
	<% end %>
	<% if !flash[:error].blank? %>
		<div class="alert alert-danger" role="alert">
			<%= flash[:error] %>
		</div>
	<% end %>

	


<%= yield %>
</div>
</body>
</html>
